<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="icon" href="css/images/checklist.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>